html {
	padding-top: 25px;
	background: url(background_image.jpg) fixed;
	background-size: cover;
}

body {
	width: 95%;
}

h1, h2 {
	width: 70%;
	font-family: "Kurale", serif;
	padding: 10px 20px 10px 20px;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
	background-color: #e1edeb;
	margin-top: 10px;
}
h1 {
	text-align: center;
}

address {
	width: 70%;
	font-family: "Kurale", "Arial black", serif;
	padding: 10px;
	margin: 0 auto;
}

.info {

	width: 65%;
	font-family: "Kurale", serif;
	padding: 15px;
	margin: 0 auto;
	margin-left: 19%;
	border-radius: 10px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
	background-color: #e1edeb;
	font-weight: normal;
	font-size: 1.25em;
	line-height: 120%;
	margin-top: 10px;
}

.container {
	margin: 0 auto;
	width: 900px;
}

p {
	margin-top: 0px;
	margin-bottom: 0px;
	
}